.zing-chart-album-wrapper {
    grid-column: 2 / 3;
    grid-row: 9 / 12;
    .zing-chart-album {
        padding: 0px;
        list-style: none;
        li {
            height: 70px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
        }
    }
}