.SongRating {
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
    text-align: center;
    max-height: 650px;
    min-height: 650px;
    line-height: 600px;
}