.icon-list-wrapper {
    margin: 10px 0px 0px 100px;
    a {
        padding: 5px;
        color: gray;
        font-size: 20px;
        &:hover{
            color: purple;
            opacity: 0.75;
        }
    }
}