.item-song-rating-wrapper {
    display: flex;
    .item-song-rating-info {
        display: flex;
        margin-top: -12px;
    }
    .song-rating-tool {
        margin-left:auto;
        margin-top: 10px;
    }
    .song-rating-icon {
        padding: 10px 30px 0px 10px;
        font-weight: 100;
    }
}