.footer-wrapper{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #222428;
    .footer-wrapper-inner {
        display: flex;
        padding-top: 20px;
        padding-bottom: 10px;
        .copy-right {
            display: flex;
            margin-left: auto;
            width: 30%;
            padding-left: 20px;
            font-size: 12px;
            color: gray;
            img {
                // margin-right: auto;
                max-height: 50px;
            }
            .info_copy-right {
                text-align: left;
                padding-left: 10px;
                padding-top: -20px;
                
            }
        }
        .footer-right {
            display: flex;
            width: 70%;
            .list_footer {
                list-style-type: none;
                margin-bottom: 10px;
                margin-left: auto;
                text-align: left;
                li {
                    display: inline-block;
                    width: 90px;
                    margin: 0px 10px 10px 0px;
                    text-align: left;
                    a {
                        color: white;
                    }
                }
            }
    
            .list-logo {
                width: 50%;
                margin-right:40px;
                .list-logo-top {
                    display: inline-block;
                    a {
                        padding: 2px;
                        opacity: 0.75;
                        color: white;
                        &:hover{
                            opacity: 1;
                            color: #a845de;
                        }
                        .FaceBook{
                            width: 35px;
                        }
                        .Youtube {
                            width: 35px;
                        }
                        .Google {
                            width: 35px;
                        }
                        .Zalo{
                            width: 45px;
                        }
                    }
                }
                .dmca-badge {
                    margin-top: 5px;
                }
                
            }
        }
    }
}