.video-hot-wrapper {
    grid-column: 1 / 2;
    grid-row:  6 / 8;
    .list-video {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        li {
            margin-bottom: 20px;
            width: 25%;
            height: 100%;
            list-style: none;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    
}