.zing-chart-vpop-wrapper {
    grid-column: 1 / 2;
    grid-row: 11 / 14;
    margin-left: 350px;
    .vpop-list {
        li {
            margin-top: -15px;
            margin-bottom: -15px;
        }
    }
}