.item-detail-song-wrapper {
    display: flex;
    .item-detail-information {
        margin-top: 5px;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .song-img {
        line-height: 50px;
    }
    .icon-list {
        display: none;
    }
    &:hover {
        .icon-list{
            display: block;
            margin-left: 40%;
            line-height: 50px;
        }
    }

}