.item-detail-vpop-wrapper {
    display: flex;
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: 10px;
    .item-detail-information {
        margin-left: 100px;
    }
    .icon-list {
        display: none;
    }
    &:hover {
        .icon-list{
            display: block;
        }
    }
}