.item-detail-vpop-wrapper {
    display: flex;
    .vpop-img {
        width: 30%;
    }
    .item-detail-information {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .icon-list {
        display: none;
        width: 30%;
        line-height: 50px;
    }
    &:hover {
        .icon-list{
            display: block;
            margin-left: 20%;
        }
    }
}