.navbar-wrapper {
    padding-left: 160px;
    padding-right: 160px;
    background-color: #e4e4e4;
    max-height: 40px;
    a {
        display: block;
        padding: 0px 15px 0px 15px;
        color: black;
        height: 40px;
        line-height: 40px;
        font-weight: 400;
        &:hover{
            background-color:white;
            color: #a845de;
        }
    }

    .menu-navbar {
        display: block;
        li {
            list-style: none;
            float: left;
            
            .icon-home {
                &:hover{
                    background-color: #e4e4e4;
                    color: black;
                }
            }
            
        } 
    }

    .navbar-right {
        display: block;
        .turn-off-ads {
            float: left;
            padding-left: 170px;
            padding-right: 0px;
            &:hover{
                background-color: #e4e4e4;
                color: #a845de;
            }
        }
        .upload {
            padding-right: 40px;
            padding-left: 0px;
            float: right;
            &:hover{
                opacity: 0.8;
                background-color: #e4e4e4;
            }
        }
    }
}