.navbar-wrapper {
    background-color: #e4e4e4;
    &-inner {
        display: flex;
        width: 1000px;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        .menu-navbar {
            width: 70%;
            ul {
                height: 40px;
                margin: 0px;
                padding: 0px;
                li {
                    display: inline-block;
                    height: 40px;
                    margin-top: -30px;
                    list-style: none;
                    a {
                        height: 40px;
                        padding: 0px 15px 0px 15px;
                        line-height: 40px;
                        font-weight: 400;
                        color: black;
                        &:hover{
                            padding: 10px 15px 12px 15px;
                            background-color:white;
                            color: #a845de;
                        }
                    }
                } 
                .icon-home {
                    &:hover{
                        background-color: #e4e4e4;
                        color: black;
                    }
                }
            }
            
        }
        .select-change-locale {
           margin-right: 20px;
        }
    
        .navbar-right {
            .turn-off-ads{
                margin-right: 20px;
                color: black;
                &:hover{
                    background-color: #e4e4e4;
                    color: #a845de;
                }
            }
            .upload{
                font-size: 20px;
                color: #a845de;
                &:hover{
                    opacity: 0.75;
                    color: #a845de;
                    background-color: #e4e4e4;
                }
            }
        }
    }
    
}