.hot-topic-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    &-inner {
        .hot-topic-top {
            // display: relative;
            // width: 300px;
            // height: 126px;
            .music-for-you{
                position: absolute;
                top: 20px;
                z-index: 10;
                left: 20px;
                width: 90px;
                height: 90px;
            }
        }
        .hot-topic-bottom {
        }
        .hot-topic-link {
            margin-top: 20px;
            margin-right: 50%;
        }
    }
}