.container {
    background-color: 
    #EEEEEE;
}
.header-layout {
    padding: 0px;
}

.footer-layout {
    padding: 0px;
}

.content-layout {
    background-color: white;
    padding: 20px;
}

.song-ranking {
    margin-top: 20px;
    padding-right: 10px;
}