.header-layout {
    padding: 0px;
}

.body-layout {
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    line-height: 100px;
}

.sidebar-layout {
    background-color: white;
    max-width: 400px !important;
    min-width: 400px !important;
}

.footer-layout {
    padding: 0px;
    margin-top: 10px;
}
