.song-raking-top-wrapper {
    height: 280px;
    .song-raking-top {
        display: flex;
        padding: 230px 10px 0px 10px;
        li {
            margin: 0px 5px 0px 5px;
            width: 33.3%;
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            list-style: none;
            border: 1px solid rgba(255, 255, 255, 0.15);
            line-height: 40px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
                opacity: 0.75;
            }
        }
    }
}