.song-raking-list-wrapper {
    margin-top: 10px;
    .song-raking-list {
        padding: 0px;
        li {
            padding: 15px 0px 15px 0px;
            border-bottom: 1px solid #ECECEC;
            list-style: none;
            &:last-child{
                border-bottom: none;
            }
        }
    }
}