.title-wrapper {
    width: 100%;
    text-transform: uppercase;
    font-weight: 300 !important;
    text-align: left;
    a{
        color: purple;
        &:hover {
            opacity: 0.75;
            color: purple;
        }
    }
    .play-icon {
        display: none;
        &.playAll{
            display: inline-block;
            padding-left: 20%;
            font-size: 25px;
            color: gray;
        }
    }
}