.label-rank-wrapper {
    width: 30px;
    height: 40px;
    line-height: 40px;
    color: #666;
    &.rating-top{
        &.top-1{
            color: #4a90e2;
        }
        &.top-2{
            color: #00AF64;
        }
        &.top-3{
            color: #D8541C;
        }
    }
}