.image-wrapper{
    margin: 10px 10px 0px 0px;
    a {
        color: inherit;
        &:hover{
            color: inherit;
        }
    }
    &.rankingWrapper {
        margin-right: 40px;
    }
    &-inner{
        position: relative;
        display: block;
        .raking_number {
            position: absolute;
            bottom: 2px;
            left: 2px;
            z-index: 1;
            margin-right: "40px";
            font-size: 20px;
            &.ranking{
                margin: "20px 50px 0px 0px";
                font-size: 20px;
            }
        }
        &:hover {
            opacity: 0.8;
            .show {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 35px;
                color: white;
            }   
        }
        .playsong {
            display:none;
        }
    }
}