.image-wrapper{
    margin: 10px 20px 0px 0px;
    &.rankingWrapper {
        margin-right: 40px;
    }
    &-inner{
        position: relative;
        display: block;
        .raking_number {
            position: absolute;
            bottom: 2px;
            left: 2px;
            z-index: 1;
            margin-right: "40px";
            color: "white";
            .ranking{
                @extend .raking_number;
                margin-right: "50px";
                color: "black";
            }
        }
        &:hover {
            opacity: 0.75;
            .show {
                display: inline-flex;
                position: absolute;
                top: 35%;
                left: 35%;
                font-size: 30px;
                color: white;
            }   
        }
        .playsong {
            display:none;
        }
    }
}