.zing-chart-news-wrapper {
    grid-column: 2 / 3;
    grid-row: 12 / 15;
    .list-news{
        padding-left: 40px;
        list-style: none;
        li {
            padding-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
        }
    }
}