.information-wrapper {
    margin-top: 10px;
    text-align: left;
    a:hover {
        color: purple;
    }
    .information-name {
        font-size: 14px;
        margin-bottom: 0px;
        a{
            color: black;
            &:hover{
                color: purple;
            }
        }
    }
    .information-singer {
        font-size: 12px;
        a{
            color: #888;
            &:hover{
                color: purple;
            }
        }
    }
}