.information-wrapper {
    margin-top: 10px;
    text-align: left;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal!important;
    line-height: 1.42857;
    a:hover {
        color: purple;
    }
    .information-name {
        margin-bottom: 0px;
        a{
            padding-right: 5px;
            text-overflow: ellipsis;
            word-break: break-word;
            color: black;
            text-indent: 100%;
            overflow: hidden;
            &:hover{
                color: purple;
            }
        }
        &.songRating {
            a{
                text-overflow: ellipsis;
                word-break: break-word;
                color: white;
                text-indent: 100%;
                &:hover{
                    color: purple;
                }
            }
        }
    }
    .information-singer {
        font-size: 12px;
        a{
            text-overflow: ellipsis;
            word-break: break-word;
            color: #888;
            &:hover{
                color: purple;
            }
        }
    }
}