.singer-wrapper{
    &-inner{
        position: relative;
        display: block;
        &:hover{
            opacity: 0.85;
            .name {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                line-height: normal;
                font-size: 14px;
                font-weight: 400;
                color: white;
            }   
        }
        .name {
            display:none;
        }
    }
}