.header-top-wrapper{
    height: 50px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: #1c1c1c;
    .header-top-wrapper-inner{
        padding-top: 10px;
    }
    .header-top-logo{
        width: 100%;
        height: 100%;
        img {
            max-width: 100%;
            vertical-align: inherit;
        }
    }
    .header-top-search{
    }

    .header-top-menu {
        display: block;
        margin-top: -0.75rem;
        margin-left: -3rem;
        li {
            list-style: none;
            float: left;
            a {
                display: block;
                padding: 0px 10px 0px 10px;
                color: white;
                line-height: 50px;
                &:hover{
                    background-color:black;
                    color: #a845de;
                }
            }
            .active {
                background-color: black;
                color: #a845de;
            }
            
        }  
    }

    .header-top-login {
        margin-top: -1rem;
        padding-left: 100px;
        a {
            color: white;
            &:hover{
                text-decoration-line: underline;
            }
        }
    }
}