.header-top-wrapper{
    height: 50px;
    background-color: #1c1c1c;
    &-inner{
        display: flex;
        margin: 0 auto;
        width: 1000px;
        padding-top: 10px;
        .header-logo{
            margin-right: 50px;
            img {
                max-width: 100%;
                vertical-align: inherit;
            }
        }
        .header-search {
            margin-right: 30px;
        }
    
        .menu-top {
            display: block;
            margin-top: -0.75rem;
            margin-left: -3rem;
            li {
                list-style: none;
                float: left;
                a {
                    display: block;
                    padding: 0px 10px 0px 10px;
                    color: white;
                    line-height: 50px;
                    &:hover{
                        background-color:black;
                        color: #a845de;
                    }
                }
                .active {
                    background-color: black;
                    color: #a845de;
                }
                
            }  
        }
    
        .login {
            margin-top: -1rem;
            padding-left: 100px;
            a {
                color: white;
                &:hover{
                    text-decoration-line: underline;
                }
            }
        }
    }
}